body { 
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #5c3d2e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 16px;
    color: white;
}

.bottom-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #5c3d2e;
    display: flex;
    justify-content: space-around;
    padding: 10px 16px;
    color: white;
}

.bottom-nav button {
    background: none;
    border: none;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.brand-title {
    font-size: 18px;
    color: #e5c29f;
    font-family: 'Georgia', serif;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    gap: no;
}

.base-icon {
    color: white;
}

a {
    font-size: small;
    text-decoration: none;
    color: white;
}

.header {
    margin-top: 50px;
}

.text-primary-bright {
    color: #FFECD5;
}

.bg-black {
    background-color: black;
}

.bg-brown {
    background-color: #5b3d2b;
}

.text-primary {
    color: #E5C29F;
}

.text-warm {
    color: #E5C29F;
}

.text-gold {
    color: #FFC107;
}

.font-sm {
    font-size: small;
}

.font-md {
    font-size: medium;
}

.font-lg {
    font-size: large;
}

.font-xl {
    font-size: x-large;
}

.font-2xl {
    font-size: xx-large;
}

.font-bold {
    font-weight: bold;
}

.p-25 {
    padding: 24px;
}

.mt-25 {
    margin-top: 25px;
}

.w-92 {
    width: 10rem;
}

.h-92 {
    height: 10rem;
}

.rounded {
    border-radius: 20px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gap-5 {
    gap: 5px;
}

.gap-10 { 
    gap: 2rem;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.place-items-items {
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-center {
    align-items: center;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 6px 15px;
    border-radius: 20px;
}

.primary-button-active { 
    background-color: #FFECD5E5;
    border: none;
    color: black;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 20px;
}

.primary-button { 
    background-color: #FFECD599;
    border: none;
    color: black;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 20px;
}

.a-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

i {
    font-size: 15px;
    margin-right: 5px;
}


@media (min-width: 768px) {
    .md-text-primary {
        color: #E5C29F;
    }

    .md-text-lg {
        font-size: large;
    }

    .md-flex {
        display: flex;
    }

    .md-justify-end {
        justify-content: flex-end;
    }

    .md-grid {
        display: grid;
    }

    .md-grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}
